<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.chinasoft.bbs.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddPost</display-name>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.chinasoft.bbs.listener.VisitCountListener</listener-class>
  </listener>

  <servlet>
    <description></description>
    <display-name>AuthImgServlet</display-name>
    <servlet-name>AuthImgServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.AuthImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthImgServlet</servlet-name>
    <url-pattern>/AuthImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckVarcodeServlet</display-name>
    <servlet-name>CheckVarcodeServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.CheckVarcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckVarcodeServlet</servlet-name>
    <url-pattern>/CheckVarcodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexInitServlet</display-name>
    <servlet-name>IndexInitServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.IndexInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexInitServlet</servlet-name>
    <url-pattern>/IndexInitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionServlet</display-name>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ShowQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <url-pattern>/ShowQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserServlet</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreCheckPost</display-name>
    <servlet-name>PreCheckPost</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.PreCheckPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreCheckPost</servlet-name>
    <url-pattern>/PreCheckPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOnePostServlet</display-name>
    <servlet-name>ShowOnePostServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ShowOnePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOnePostServlet</servlet-name>
    <url-pattern>/ShowOnePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdatePswdServlet</display-name>
    <servlet-name>ShowUpdatePswdServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ShowUpdatePswdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdatePswdServlet</servlet-name>
    <url-pattern>/ShowUpdatePswdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePswdServlet</display-name>
    <servlet-name>UpdatePswdServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.UpdatePswdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePswdServlet</servlet-name>
    <url-pattern>/UpdatePswdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectOrderByServlet</display-name>
    <servlet-name>PostsSelectOrderByServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectOrderByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectOrderByServlet</servlet-name>
    <url-pattern>/PostsSelectOrderByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllUsersServlet</display-name>
    <servlet-name>FindAllUsersServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.FindAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUsersServlet</servlet-name>
    <url-pattern>/FindAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatusServlet</display-name>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <url-pattern>/ChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserLikeServlet</display-name>
    <servlet-name>FindUserLikeServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.FindUserLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserLikeServlet</servlet-name>
    <url-pattern>/FindUserLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsServletManager</display-name>
    <servlet-name>PostsServletManager</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsServletManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsServletManager</servlet-name>
    <url-pattern>/PostsServletManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectByValue</display-name>
    <servlet-name>PostsSelectByValue</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectByValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectByValue</servlet-name>
    <url-pattern>/PostsSelectByValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectRecently</display-name>
    <servlet-name>PostsSelectRecently</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectRecently</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectRecently</servlet-name>
    <url-pattern>/PostsSelectRecently</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectBetweenTime</display-name>
    <servlet-name>PostsSelectBetweenTime</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectBetweenTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectBetweenTime</servlet-name>
    <url-pattern>/PostsSelectBetweenTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectBetweenPageview</display-name>
    <servlet-name>PostsSelectBetweenPageview</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectBetweenPageview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectBetweenPageview</servlet-name>
    <url-pattern>/PostsSelectBetweenPageview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectVaguePtitle</display-name>
    <servlet-name>PostsSelectVaguePtitle</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectVaguePtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectVaguePtitle</servlet-name>
    <url-pattern>/PostsSelectVaguePtitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectVagueArticle</display-name>
    <servlet-name>PostsSelectVagueArticle</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectVagueArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectVagueArticle</servlet-name>
    <url-pattern>/PostsSelectVagueArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostingServlet</display-name>
    <servlet-name>PostingServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.PostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostingServlet</servlet-name>
    <url-pattern>/PostingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImgServlet</display-name>
    <servlet-name>UploadImgServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.UploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgServlet</servlet-name>
    <url-pattern>/UploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePhotoServlet</display-name>
    <servlet-name>UpdatePhotoServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.UpdatePhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhotoServlet</servlet-name>
    <url-pattern>/UpdatePhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPasswordServlet</display-name>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.CheckPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <url-pattern>/CheckPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOneUserServlet</display-name>
    <servlet-name>ShowOneUserServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.ShowOneUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOneUserServlet</servlet-name>
    <url-pattern>/ShowOneUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.chinasoft.bbs.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectVagueServlet</display-name>
    <servlet-name>PostsSelectVagueServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectVagueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectVagueServlet</servlet-name>
    <url-pattern>/PostsSelectVagueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsSelectVague</display-name>
    <servlet-name>PostsSelectVague</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostsSelectVague</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsSelectVague</servlet-name>
    <url-pattern>/PostsSelectVague</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommentAddServlet</display-name>
    <servlet-name>RecommentAddServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.RecommentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommentAddServlet</servlet-name>
    <url-pattern>/RecommentAddServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLoginServlet</display-name>
    <filter-name>AdminLoginServlet</filter-name>
    <filter-class>com.chinasoft.bbs.filter.AdminLoginServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginServlet</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSessionServlet</display-name>
    <servlet-name>DeleteSessionServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.DeleteSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSessionServlet</servlet-name>
    <url-pattern>/DeleteSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostLevelSetServlet</display-name>
    <servlet-name>PostLevelSetServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostLevelSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostLevelSetServlet</servlet-name>
    <url-pattern>/PostLevelSetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostCompetitiveSetServlet</display-name>
    <servlet-name>PostCompetitiveSetServlet</servlet-name>
    <servlet-class>com.chinasoft.bbs.servlet.post.PostCompetitiveSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostCompetitiveSetServlet</servlet-name>
    <url-pattern>/PostCompetitiveSetServlet</url-pattern>
  </servlet-mapping>
</web-app>